pytest
pytest-xdist
jupyter
nbconvert==6.3.0
Sphinx~=4.1
sphinxcontrib-websupport==1.2.4
sphinx_rtd_theme
nbsphinx
ipython
notebook
rise
jupyter_contrib_nbextensions
black
isort
flake8
pre-commit
hide-code==0.7.0