/*
This file is mainly copy-pasta from rise's examples
https://github.com/damianavila/RISE/blob/master/examples/rise.css
that was further customized for appliedAI purposes
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.reveal {
    color: white !important;
    font-family: 'Work Sans', sans-serif !important;
}

/* Overriding reveal styles in headers */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: initial;   /* sky.css says uppercase */
    letter-spacing: initial;   /* sky.css says -0.08em */
    font-family: 'Work Sans', sans-serif !important;
    color: #00747b !important;
}

/* Overriding reveal styles in normal text */
div.text_cell_render {
    font-family: 'Work Sans', sans-serif !important;
    color: #1c9b90 !important;
}

body.rise-enabled .reveal ol, body.rise-enabled .reveal dl, body.rise-enabled .reveal ul {
    margin-left: 0.1em;
    margin-top: 0.2em;
}

.reveal .rendered_html h1:first-child,
.reveal .rendered_html h2:first-child,
.reveal .rendered_html h3:first-child,
.reveal .rendered_html h4:first-child,
.reveal .rendered_html h5:first-child {
    margin-top: 0.2em;
}

h1.plan, h2.plan, h3.plan {
    text-align: center;
    padding-bottom: 30px;
}

ul.plan>li>span.plan-bold {
    font-size: 110%;
    padding: 4px;
    font-weight: bold;
    background-color: #eee;
}

ul.plan>li>ul.subplan>li>span.plan-bold {
    font-weight: bold;
}

.plan-strike {
    opacity: 0.4;
/*    text-decoration: line-through; */
}

div.plan-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

/*
 * this is to void xarray's html output to show the fallback textual representation
 * see also
   * xarray.md and
   * https://github.com/damianavila/RISE/issues/594
 */
.reveal pre.xr-text-repr-fallback {
    display: none;
}

#rise-header {
    margin: 10px;
    left: 5%;
}

#rise-footer {
    margin: 10px;
    right: 5%;
}

#rise-backimage {
    opacity: 0.70;
}

.reveal img {
    max-width: 100%;
}


/*Styles for explicit html in markdown cells*/
.md-slide {
    color: white;
    font-family: 'Work Sans', sans-serif !important;
}

.md-slide.title {
  position: relative;
  top: -50%;
  margin-left: 5%;
  font-size: 1em;
}